<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center border m-2 p-2">
      <h4>Footprint → 足　跡</h4>
      <%= image_tag 'footprint.png', class: "rounded-circle", size: "100x100" %>
      <div class="genre-choice card-group m-1">
        <% @genres.each do |genre| %>
          <div class="card border-light" style="15rem;">
            <div class="card-img-top">
              <%=  %>
            </div>
            <div class="card-body">
              <div class="card-title">
                <div class="doropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= genre.name %>
                  </button>
                  <% @categories.each do |category| %>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a href="#" class="dropdown-item"><%= category.name %></a></li>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
